html body{
    color: #ffebcd;
    background-color: #000000;
    text-align: center;
}

header{
    font-size: 10vh;
}

header span#karting{
    font-family: system-ui;
    font-style: oblique;
}

a {
    color: #7373e2;
}

a:visited {
    color: #ab7cd4;
}

a.wiki{
    text-decoration: none;
}
a.wiki::after{
    vertical-align: super;
    font-size: 2vh;
    content: "[W]";
}

hr{
    margin-top: 3vh;
    margin-bottom: 3vh;
}


summary{
    padding-top: 1vh;
    height: 5vh;
    font-size: min(2.5vh, 2.5vw);
    position: relative;
    overflow: hidden;
}
summary span.menu-desc,
summary span.menu-default
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 50vw;
    transform: translate(-50%, -50%);
}

div.content{
    width: 100%;
    overflow-x: hidden;
}

nav.menu{
    float: left;
    text-align: right;
    width: 50%;
    min-height: 55vh;
}

nav.menu ul{
    list-style:none;
    padding: 0;
    margin-top: 20vh;
    padding-left: 5vw;
}

nav.menu ul li a{
    display: block;
    height: 30px;
    list-style:none;
    padding-right: min(2vh,2vw);
    font-size: 50%;

    border:solid 1px #ccc;
    border-radius: min(5vh,5vw);
    z-index:0;
    overflow:hidden;
    position:relative;
    height: min(7vh, 7vw);
    margin: min(2vh,2vw) 0 min(2vh,2vw) 0;
    border-width: min(0.4vh,0.4vw);

    font-size: min(2.5vh,2.5vw);
    text-decoration: none;
}

nav.menu ul li a:visited{
    color: rgb(173, 166, 154);
}

nav.menu ul li:hover a{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.247);
}

nav.menu ul li a img{
    height: 100%;
    vertical-align: -2.3vh;
    margin-right: min(1.2vw,1.2vw);
}

aside{
    text-align: left;
    margin-left: 50%;
    width:50%;
    position: relative;
    min-height: 55vh;
    overflow-y: hidden;
}

aside img{
    width: 45vw;
    height: auto;
    /* max-height: 60vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-mask-image: url('../img/mask.png');
    -webkit-mask-size: 45vw auto;
    mask-image: url('../img/mask.png');
    mask-size: 45vw auto;  
}

footer{
    font-size: min(1vh,1vw);
    text-align: center;
    min-height: min(5vh,5vw);
    padding: min(1vh, 1vw);
}

