${STRASHBOT_USER} ALL=(ALL) NOPASSWD: ${SRB2K_SERVICE_START_CMD}
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: ${SRB2K_SERVICE_STOP_CMD}
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: ${SRB2K_SERVICE_RESTART_CMD}

#Cmnd_Alias NICE_SRB2K=/usr/bin/nice -n -20 su -c ${SRB2KART_EXE}\ -dedicated\ *\ ${STRASHBOT_USER}
#${STRASHBOT_USER} ALL=(ALL) NOPASSWD: NICE_SRB2K
${STRASHBOT_USER} ALL=(ALL) NOPASSWD: ${SRB2KART_EXE} -dedicated *

${STRASHBOT_USER} ALL=(ALL) NOPASSWD: /bin/systemctl start strashbot_zip_addons.service
