
server{
    server_name ${STRASHBOT_WEB_DOMAIN};
    index index.html;

    location / {
        root ${STRASHBOT_USER_HOME}/${SRB2KART_DIR}/web;
    }

    include strashbot_web_http_server/*.conf;

    include certbot/in-serverblock-certbot-config.conf;
}

include certbot/own-serverblock-strashbotfr-https-redirect.conf;
