[Install]
WantedBy=multi-user.target

[Unit]
Description=updates strashbot's srb2kart addons zip archive

[Service]
Type=oneshot
User=${STRASHBOT_USER}
WorkingDirectory=${STRASHBOT_USER_HOME}
ExecStart=sh ${SRB2KART_DIR}/zipping_addons.sh ${SRB2KART_DIR}/addons
StandardOutput=journal
