{{ strashbot.username }} ALL=(ALL) NOPASSWD: {{ racer.operator_commands.restart }}
{{ strashbot.username }} ALL=(ALL) NOPASSWD: {{ racer.operator_commands.stop }}

{{ strashbot.username }}  ALL=(ALL) NOPASSWD: {{ racer.exe }} -dedicated *
