allowed_commands:
   - kartspeed
   - karteliminatelast
   - showping
   - allowjoin
   - tauntvoices
   - taunthorns
   - maxplayers
   - kartvoices
   - kartinvinsfx
   - kartminimap
   - kartcheck
   - kartdisplayspeed
   - kartgametypepreference
   - kartvoterulechanges
   - servername
   - advertise
   - antigrief
   - votetime
   - inttime
   - wait
   - ac_forcetrick
   - elim_off
   - elim_on
   - juicebox_off
   - juicebox_on
   - friend_on
   - friend_off
   - acro_on
   - acro_off
   - cruel_on
   - cruel_off
   - kmp_haste
   - kmp_hyudoro
   - kmp_shrinkduration
   - hq_huge
   - hq_orbigift
   - hq_yeet
   - hq_offroad
   - hq_mtstore
   - hq_sparkle
   - hq_skittles
   - hq_eggkarma
   - eggpanic
   - eggbump
   - eggbox_extend
   - hm_motd
   - hm_motd_name
   - hm_motd_contact
   - hm_motd_tagline
   - hm_restat
   - hm_restat_notify
   - hm_autoaccel
   - hm_scoreboard
   - hm_encore
   - hm_vote_allowidc
   - hm_votable
   - horn_preferexpansions
   - ac_trickreminder
   - basenumlaps
   - spbatk
   - mrp_showitems
   - restart_level
   - ditto_server_config
   - strash_modchange
   - strash_modchancechangeabsolute
   - strash_debug
