// Dr. Robotnik's Ring Racers configuration file.
execversion "4"
maxplayers "15"
eliminatelast "Yes"
antigrief "30"
gamestochat "0"
allowguests "On"
zvote_spectator_votes "Off"
zvote_quorum "0.6"
zvote_length "20"
zvote_delay "20"
showjoinaddress "Off"
teamscramble "Off"
scrambleonchange "Off"
resynchattempts "2"
maxdelaytimeout "10"
noticedownload "Off"
maxsend "51200"
lagless "Off"
joindelay "10"
inttime "10"
downloadspeed "32"
blamecfail "On"
autobalance "Off"
stunserver "stun.l.google.com:19302"
cpusleep "0"
skipmapcheck "Off"
showviewpointtext "On"
servername "[^4EU^0/^5Fr^0] StrashBot ^7KartRing"
server_contact "Dr_Nope#0037 | strashbot.fr"
holepunchserver "relay.kartkrew.org"
screenshake "Full"
reducevfx "No"
netdemo_record "Manual Save"
pingmeasurement "Frames"
pausepermission "Server Admins"
nettimeout "210"
netdemo_size "6"
netdemo_syncquality "1"
menujam_update "On"
menujam "menu"
maxdelay "20"
masterserver_update_rate "15"
masterserver_token ""
masterserver_timeout "5"
masterserver_debug "Off"
masterserver_nagattempts "5"
masterserver "https://ms.kartkrew.org/ms/api"
kicktime "20"
speedometer "Percentage"
tauntvoices "On"
taunthorns "On"
jointimeout "210"
http_source "http://{{ racer.addr }}/{{ racer.dirname }}/"
homremoval "Yes"
discordinvites "Everyone"
maxconnections "16"
allowjoin "On"
zvote_runitback_allowed "Yes"
zvote_rtv_allowed "Yes"
zvote_kick_allowed "Yes"
gr_spritebillboarding "On"
gr_skydome "On"
gr_shearing "Off"
gr_models "On"
gr_filtermode "Nearest"
gr_anisotropicmode "1"
gr_shaders "On"
gr_fovchange "Off"
advertise "On"
