
server{
    server_name {{ http_source_addr }};

    {% for racer in racers %}location ~* ^\/{{ racer.dirname }}\/(.+\..+)$ {
        root {{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }}/addons/installed;

        try_files /$1 =404;
    }

    location /log {
        root {{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }};

        try_files /{{ racer.log_filename }} =404;
    }

    {% endfor %}
    
}
