
server{
    server_name {{ racer.addr }};

    location ~* ^\/{{ racer.dirname }}\/(.+\.zip)$ {
        root {{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }};

        try_files /$1 /addons/$1 =404;
    }

    location ~* ^\/{{ racer.dirname }}\/(.+\..+)$ {
        root {{ root_dir }}{{ strashbot.home }};

        try_files $uri /installed/$1;
    }

    location ~* ^\/installed\/(.+\..+)$ {
        root {{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }}/addons;

        try_files $uri =404;
    }
}
