export RACER_SERVER_SERVICE="{{ racer.name }}_serv.service"
export RACER_SERVER_CMD_START="{{ racer.operator_commands.start }}"
export RACER_SERVER_CMD_RESTART="{{ racer.operator_commands.restart }}"
export RACER_SERVER_CMD_STOP="{{ racer.operator_commands.stop }}"
