wait
exec "{{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }}/cfg/base_server_config.cfg"

wait
exec "{{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }}/cfg/dl_load.cfg"

wait
exec "{{ root_dir }}{{ strashbot.home }}/{{ racer.dirname }}/cfg/custom_config.cfg"
