export STRASHBOT_USER_HOME="{{ root_dir }}{{ strashbot.home }}"
export RACER_DIR="{{ racer.dirname }}"
export RACER_EXE="{{ racer.exe }}"
export RACER_LAUNCH_ARGS="{{ racer.launch_args }}"
export RACER_HANDLE_LOGS="{{ racer.handle_logs_storage|string|lower }}"
