#!/bin/bash


SCRIPT_DIR="$( dirname "$( realpath "$0" )" )"



PASS="$( </dev/urandom tr -dc '0123456789azertyuiopqsdfghjklmwxcvbnAZERTYUIOPQSDFGHJKLMWXCVBN' | head -c6 )"

FILE="${SCRIPT_DIR}/.TMP_PASS"

echo "${PASS}" > "$FILE"

STRASHBOT_USER_HOME="{{ root_dir }}{{ strashbot.home }}"
RACER_DIR="{{ racer.dirname }}"
RACER_EXE="{{ racer.exe }}"
RACER_LAUNCH_ARGS="{{ racer.launch_args }}"

LOG_FILE="${STRASHBOT_USER_HOME}/${RACER_DIR}/log.txt"
LOGS_DIR="${STRASHBOT_USER_HOME}/${RACER_DIR}/logs"
mkdir -p "${LOGS_DIR}"
if [ -f "${LOG_FILE}" ]; then
    cp -vf "${LOG_FILE}" "${LOGS_DIR}/log$( date +'%Y%m%d%H%M%S' ).txt"
    if [ "$( ls "${LOGS_DIR}"/log*.txt | wc -l )" -gt 5 ]; then
        rm -vf "$( find "${LOGS_DIR}"/log*.txt -type f -printf '%T+ %p\n' | sort | head -n 1 | cut -d' ' -f2 )"
    fi
fi
touch "${LOG_FILE}"
chmod 704 "${LOG_FILE}"

rm -f "${STRASHBOT_USER_HOME}/${RACER_DIR}/ringdata.dat"

STATE_FILE="${STRASHBOT_USER_HOME}/${RACER_DIR}/state.txt"
MAPS_FILE="${STRASHBOT_USER_HOME}/${RACER_DIR}/maps.txt"
SKINS_FILE="${STRASHBOT_USER_HOME}/${RACER_DIR}/skins.txt"
touch "${STATE_FILE}" "${MAPS_FILE}" "${SKINS_FILE}" 
chmod 704 "${STATE_FILE}" "${MAPS_FILE}" "${SKINS_FILE}"

trap 'kill $(jobs -p)' EXIT
( tail -f "${LOG_FILE}" | "${STRASHBOT_USER_HOME}/${RACER_DIR}/log_processor.py" "${STATE_FILE}" "${MAPS_FILE}" "${SKINS_FILE}") &
nice -n -20 ${RACER_EXE} -dedicated -password ${PASS} ${RACER_LAUNCH_ARGS}
